<div class="container">
    <div class="channel-name-header">
        <div class="channel-header-left cursor-pointer">
            <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
            <p class="channel-name">Noah Braun</p>
        </div>
    </div>

    <div class="conversation-container">

        <div class="welcome-message-direct">
            <div class="user-info">
                <img src="../../../../assets/img/user1-icon.png" alt="user" class="user-icon">
                <p>Noah Beck</p>
            </div>
            <span class="info-text">Diese Unterhaltung findet nur zwischen dir und<a class="user-name">
                     &#64;Noah
                    Beck 
            </a>statt.
            </span>
        </div>

        <div class="channel-container">
            <div class="date-container">
                <div class="line"></div>
                <span class="date">Dienstag, 14 Januar</span>
                <div class="line"></div>
            </div>


            <div class="channel-thread-container">
                <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                <div class="user-message-container">
                    <div class="name-time">
                        <p class="user-name cursor-pointer">Noah Braun</p>
                        <p class="font-size-14-lightgrey">14:25 Uhr</p>
                    </div>
                    <p class="user-message cursor-pointer">Welche Version ist aktuell von Angular?</p>
                    <div class="reaction-container">
                        <img src="../../../../assets/img/reaction.svg" alt="add-reaction"
                            class="add-reaction cursor-pointer">
                    </div>
                    <div class="thread-reply-container cursor-pointer">
                        <a href="#" class="forward-to-reply">2 Antworten</a>
                        <p class="font-size-14-lightgrey">Letzte Antwort: 14:56 Uhr</p>
                    </div>
                </div>
            </div>

            <div class="channel-thread-container reverse-order">
                <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                <div class="user-message-container flex-end-column">
                    <div class="name-time">
                        <p class="user-name cursor-pointer">Frederik Beck</p>
                        <p class="font-size-14-lightgrey">15:06 Uhr</p>
                    </div>
                    <p class="user-message user-a-message-radius-bg cursor-pointer">Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit.
                        Dignissimos delectus molestias pariatur consectetur eum suscipit minus! Sapiente hic ex,
                        optio
                        reprehenderit saepe eius, id amet distinctio pariatur odit magni delectus.</p>
                    <div class="reaction-container">
                        <img src="../../../../assets/img/reaction.svg" alt="add-reaction"
                            class="add-reaction cursor-pointer">
                    </div>
                    <div class="thread-reply-container cursor-pointer">
                        <a href="#" class="forward-to-reply"></a>
                        <p class="font-size-14-lightgrey"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="send-message-container">
        <input type="text" name="message" class="message-input" placeholder="Nachricht an Noah Braun">
        <div class="input-bottom">
            <div class="icons-left cursor-pointer">
                <div class="hover-icon">
                    <img class="add-file-icon" src="../../../../assets/img/add-file.svg" alt="add">
                </div>
                <div class="divider"></div>
                <div class="hover-icon">
                    <img class="smile-icon" src="../../../../assets/img/smile.svg" alt="emoji">
                </div>
                <div class="hover-icon">
                    <img class="email-icon" src="../../../../assets/img/email.svg" alt="@-icon">
                </div>

            </div>
            <img class="send-icon cursor-pointer" src="../../../../assets/img/send.svg" alt="send-icon">
        </div>
    </div>