<div class="container">
    <div class="channel-name-header">
        <div class="channel-header-left cursor-pointer">
            <img class="tag-image" src="../../../../assets/img/tag.png" alt="tag">
            <p class="channel-name">Entwicklerteam</p>
            <img src="../../../../assets/img/arrow-down-chat.png" alt="arrow-down" class="arrow-down">
        </div>
        <img src="../../../../assets/img/add-member-bg.png" alt="add-user" class="add-user cursor-pointer">
    </div>

    <div class="conversation-container">

        <div class="channel-container">
            <div class="date-container">
                <div class="line"></div>
                <span class="date">Dienstag, 14 Januar</span>
                <div class="line"></div>
            </div>


            <div class="channel-thread-container">
                <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                <div class="user-message-container">
                    <div class="name-time">
                        <p class="user-name cursor-pointer">Noah Braun</p>
                        <p class="font-size-14-lightgrey">14:25 Uhr</p>
                    </div>
                    <p class="user-message cursor-pointer">Welche Version ist aktuell von Angular?</p>
                    <div class="reaction-container">
                        <img src="../../../../assets/img/add-reaction.png" alt="add-reaction"
                            class="add-reaction cursor-pointer">
                    </div>
                    <div class="thread-reply-container cursor-pointer">
                        <a href="#" class="forward-to-reply text-center" (click)="showThreadChat()">2 Antworten</a>
                        <p class="font-size-14-lightgrey text-center">Letzte Antwort: 14:56 Uhr</p>
                    </div>
                </div>
            </div>

            <div class="channel-thread-container reverse-order">
                <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                <div class="user-message-container flex-end-column">
                    <div class="name-time">
                        <p class="user-name cursor-pointer ">Frederik Beck</p>
                        <p class="font-size-14-lightgrey">15:06 Uhr</p>
                    </div>
                    <p class="user-message user-a-message-radius-bg cursor-pointer">Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit.
                        Dignissimos delectus molestias pariatur consectetur eum suscipit minus! Sapiente hic ex, optio
                        reprehenderit saepe eius, id amet distinctio pariatur odit magni delectus.</p>
                    <div class="reaction-container">
                        <img src="../../../../assets/img/add-reaction.png" alt="add-reaction"
                            class="add-reaction cursor-pointer">
                    </div>
                    <div class="thread-reply-container cursor-pointer">
                        <a href="#" class="forward-to-reply text-center" (click)="showThreadChat()"></a>
                        <p class="font-size-14-lightgrey text-center"></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="send-message-container">
            <input type="text" name="message" class="message-input" placeholder="Nachricht an #Entwicklerteam">
            <div class="input-bottom">
                <div class="icons-left cursor-pointer">
                    <img class="add-grey-img" src="../../../../assets/img/add-grey.png" alt="add">
                    <img src="../../../../assets/img/smiley.png" alt="emoji">
                    <img src="../../../../assets/img/email-icon.png" alt="@-icon">
                </div>
                <img class="cursor-pointer" src="../../../../assets/img/send-icon.png" alt="send-icon">
            </div>
        </div>

    </div>
</div>