<div class="container">
    <div class="channel-name-header">
        <div class="channel-header-left cursor-pointer" (click)="toggleChannelDescription()">
            <img class="tag-image" src="../../../../assets/img/tag.svg" alt="tag">
            <p class="channel-name">Entwicklerteam</p>
            <img src="../../../../assets/img/arrow-down-chat.png" alt="arrow-down" class="arrow-down">
        </div>
        <img src="../../../../assets/img/add-user.svg" alt="add-user" class="add-user cursor-pointer">
    </div>

    <div *ngIf="channelDescriptionVisible" class="channel-description-full-container">
        <app-channel-description></app-channel-description>
    </div>

    <div class="conversation-container">

        <div class="channel-container">
            <div class="date-container">
                <div class="line"></div>
                <span class="date">Dienstag, 14 Januar</span>
                <div class="line"></div>
            </div>

            <div class="sender-container">
                <div class="channel-thread-container receiver" (mouseenter)="visibilityService.hideEditMessageText()">
                    <div class="user-message-receiver">
                        <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                        <div class="user-message-container">
                            <div class="name-time">
                                <p class="user-name cursor-pointer">Noah Braun</p>
                                <p class="font-size-14-lightgrey">14:25 Uhr</p>
                            </div>
                            <p class="user-message cursor-pointer">Welche Version ist aktuell von Angular?</p>
                            <div class="emoji-received-container" #message1>
                            </div>
                            <div class="reaction-container">
                                <img src="../../../../assets/img/reaction.svg" alt="add-reaction"
                                    class="add-reaction cursor-pointer" (click)="openEmojiPicker($event, message1)"> 
                            </div>
                        </div>
                    </div>
                    <div class="overlay-icons-receiver">
                        <img class="reaction-icon cursor-pointer" src="../../../../assets/img/reaction.svg" alt="emoji" (click)="openEmojiPicker($event, message1)">
                        <img class="answer-icon cursor-pointer" src="../../../../assets/img/answer.svg" alt="more options">
                    </div>
                    <div *ngIf="showEmojiPopup" class="emoji-popup">
                        <emoji-mart (emojiClick)="addEmojiToMessage($event.emoji.native)"></emoji-mart>
                    </div>
                </div>
                <div class="thread-reply-container cursor-pointer">
                    <a href="#" class="forward-to-reply text-center" (click)="showThreadChat()">2 Antworten</a>
                    <p class="font-size-14-lightgrey text-center">Letzte Antwort: 14:56 Uhr</p>
                </div>
            </div>

            <div class="channel-thread-container reverse-order">
                <img src="../../../../assets/img/user1-icon.png" alt="user-icon" class="user-img">
                <div class="message-a-flex-end" [class.user-message-container]="!isEditing">

                    <div *ngIf="!isEditing" class="name-time reverse-name-time"
                        (mouseenter)="visibilityService.hideEditMessageText()">
                        <p class="user-name cursor-pointer ">Frederik Beck</p>
                        <p class="font-size-14-lightgrey">15:06 Uhr</p>
                    </div>

                    <div class="textfield" style="position: relative;">
                        <div *ngIf="!isEditing">
                            <p class="user-message user-a-message-radius-bg cursor-pointer">{{ originalMessage }}</p>
                        </div>
                        <div class="emoji-received-container" #message2 style="margin-top: 8px;">
                        </div>

                        <div *ngIf="isEditing" class="edit-textarea-buttons">
                            <textarea #textarea class="user-message user-a-message-radius-bg textarea cursor-pointer"
                                (mouseleave)="visibilityService.hideEditMessageText()" contenteditable="true"
                                [(ngModel)]="editedMessage">{{ originalMessage }}</textarea>
                            <div class="edit-open-icons">
                                <div class="hover-icon">
                                    <img class="smile-icon cursor-pointer" src="../../../../assets/img/smile.svg"
                                        alt="emoji" (click)="openEmojiPickerTextarea($event, textarea)">
                                </div>
                                <div class="edit-message-buttons">
                                    <button (click)="cancelEdit()" class="secondary-btn">Abbrechen</button>
                                    <button (click)="saveEdit()" class="main-btn">Speichern</button>
                                </div>
                            </div>
                            <div *ngIf="showEmojiPopupTextarea" class="emoji-popup">
                                <emoji-mart (emojiClick)="addEmojiToTextarea($event.emoji.native)"></emoji-mart>
                            </div>
                        </div>

                    </div>

                    <div class="reaction-container" *ngIf="!isEditing">
                        <img src="../../../../assets/img/reaction.svg" alt="add-reaction"
                            class="add-reaction cursor-pointer">
                    </div>
                    <div class="overlay-icons" *ngIf="!isEditing">
                        <img class="reaction-icon cursor-pointer" src="../../../../assets/img/reaction.svg" alt="emoji"
                            (mouseenter)="visibilityService.hideEditMessageText()" (click)="openEmojiPicker($event, message2)">
                        <img class="more-icon cursor-pointer" src="../../../../assets/img/more.svg" alt="more options"
                            (mouseenter)="visibilityService.showEditMessageText()">
                    </div>
                    <div class="overlay-text" *ngIf="visibilityService.editMessageOverlayVisible && !isEditing">
                        <span class="cursor-pointer" (click)="enableEdit()">Nachricht bearbeiten</span>
                    </div>
                    <div class="thread-reply-container cursor-pointer">
                        <a href="#" class="forward-to-reply text-center" (click)="showThreadChat()"></a>
                        <p class="font-size-14-lightgrey text-center"></p>
                    </div>

                </div>
            </div>

        </div>

        <div class="send-message-container">
            <input #input type="text" name="message" class="message-input" placeholder="Nachricht an #Entwicklerteam">
            <div class="input-bottom">
                <div class="icons-left cursor-pointer">
                    <div class="hover-icon">
                        <img class="add-file-icon" src="../../../../assets/img/add-file.svg" alt="add">
                    </div>
                    <div class="divider"></div>
                    <div class="hover-icon">
                        <img class="smile-icon" src="../../../../assets/img/smile.svg" alt="emoji" (click)="openEmojiPickerInput($event, input)">
                    </div>
                    <div class="hover-icon">
                        <img class="email-icon" src="../../../../assets/img/email.svg" alt="@-icon">
                    </div>

                </div>
                <img class="send-icon cursor-pointer" src="../../../../assets/img/send.svg" alt="send-icon">
            </div>
            <div *ngIf="showEmojiPopupInput" class="emoji-popup">
                <emoji-mart (emojiClick)="addEmojiToInput($event.emoji.native)"></emoji-mart>
            </div>
        </div>

    </div>
    <div class="white-bg"></div>
</div>