<div class="container">
    <div class="thread-name-header">
        <div class="thread-header-left">
            <img class="tag-image" src="../../../../assets/img/tag.png" alt="tag">
            <p class="thread-name">Entwicklerteam</p>
            <img src="../../../../assets/img/arrow-down-chat.png" alt="arrow-down" class="arrow-down">
        </div>
        <img src="../../../../assets/img/add-member-bg.png" alt="add-user" class="add-user">
    </div>
    <div class="thread-container">
        <div class="date-container">
            <div class="line"></div>
            <span class="date">Dienstag, 14 Januar</span>
            <div class="line"></div>
        </div>
    </div>
</div>
