<div class="container">
    <div class="login-header">
        <div class="logo-wrapper">
            <img src="./assets/images/logo.svg" alt="Logo">
        </div>
        <div class="register-info-container">
            <div class="register-info">Neu bei DABubble?</div>
            <a routerLink="/register">Konto erstellen</a>
        </div>
    </div>

    <div class="login-container">
        <div class="login-card fp-card">
            <h2>Anmeldung</h2>
            <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
            <app-login-form />
        </div>
    </div>
</div>