<div class="desktop-pop-up">
    <div class="container">
        <div class="channel-header">
            <p class="font-size-24-weight-700-black">Channel erstellen</p>
            <img (click)="closeNewChannel()" class="cursor-pointer" src="../../../../assets/img/close.svg" alt="close">
        </div>
        <p class="channel-description">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
            themenbezogen
            sein #marketing zum Beispiel.</p>
        <div class="channel-name-container">
            <p class="font-size-18-weight-700-black">Channel-Name</p>
            <div class="search-bar">
                <img class="search-bar-img cursor-pointer" src="../../../../assets/img/tag-new-channel-name.svg" alt="tag">
                <input name="search" class="search-input" type="text" placeholder="z.B. Kooperationsprojekte">
            </div>
        </div>
        <div class="channel-name-container">
            <div class="channel-description-text">
                <p class="font-size-18-weight-700-black">Beschreibung</p>&nbsp;
                <p class="font-size-14-lightgrey">(optional)</p>
            </div>

            <div class="search-bar">
                <input name="search" class="search-input" type="text" placeholder="Dein Text hier">
            </div>
        </div>
        <button class="main-btn">Erstellen</button>
    </div>
</div>