/* Date */

.date-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;

  .line {
    min-width: 50px;
    border-bottom: 1px solid #adb0d9;
    flex: 1;
  }

  .date {
    padding: 5px 15px;
    border: 1px solid #adb0d9;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    min-width: 200px;
    text-align: center;
  }
}

/* Messages */

.user-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name-time {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  .user-name {
    font-weight: 700;
    font-size: 18px;
  }
}

.reverse-name-time {
  justify-content: flex-end;
}

.user-message {
  padding: 15px;
  background-color: #eceefe;
  border-radius: 0 30px 30px 30px;
  font-size: 17px;
  max-width: 600px;
}

.user-a-message-radius-bg {
  border-radius: 30px 0 30px 30px !important;
  background-color: #797ef3 !important;
  color: white;
}

.reaction-container {
  display: flex;
  justify-content: flex-end;
}

.add-reaction {
  height: 34px;
  width: 34px;
}

.reverse-order{
  &:hover{
    background-color: #ECEEFE;
  }
}

/*Reply to Thread*/

.thread-reply-container {
  display: flex;
  align-items: center;
  gap: 20px;

  .forward-to-reply {
    text-decoration: none;
    color: #535af1;
    font-size: 18px;
    text-align: center;
  }
}

/*Message Input Field*/

.send-message-container {
  margin-right: 16px;
  margin-left: 16px;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  position: fixed;
  width: auto;
  right: 0;
  left: 0;
  bottom: 20px;
}

.input-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .send-icon {
    &:hover {
      content: url("assets/img/send-hover.svg");
    }
  }
}

.icons-left {
  display: flex;
  gap: 10px;
}

.hover-icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #ebeffe;
    border-radius: 50%;
  }
}

.add-file-icon {
  height: 24px;
  width: 24px;
  &:hover {
    content: url("./assets/img/add-file-hover.svg");
  }
}

.divider {
  height: 30px;
  border-left: 1px solid #adb0d9;
}

.smile-icon {
  height: 24px;
  width: 24px;
  &:hover {
    content: url("./assets/img/smile-hover.svg");
  }
}

.email-icon {
  height: 24px;
  width: 24px;
  &:hover {
    content: url("./assets/img/email-hover.svg");
  }
}

.message-input {
  width: 100%;
  height: auto;
  min-height: 50px;
  border: none;
  outline: none;
  &:focus {
    background-color: white;
  }
  &::placeholder {
    font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #686868 !important;
  }

  .message-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #686868 !important;
  }
}

/*edit popup*/

.reverse-order {
  position: relative;
}


.overlay-icons,
.overlay-text {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  z-index: 10;
  background-color: white;
}

.overlay-icons {
  display: none;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border: 1px solid #adb0d9;
  border-radius: 25px 25px 0 25px;
  padding: 3px 13px;
}

.overlay-text {
  display: flex;
  width: auto;
  top: 30px;
  left: 85px;
  box-shadow: 0px 6px 14px 0px #00000033;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 0 25px 25px 25px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  span{
    border-radius: 30px;
    padding: 10px 20px;
    &:hover{
      background-color: #ECEEFE;
      color: #535AF1;
      font-weight: 700;
    }
  }
}

.user-message-container:hover .overlay-icons {
  display: flex;
}

.reaction-icon {
  height: 32px;
  width: 32px;
  &:hover {
    content: url("./assets/img/reaction-hover.svg");
  }
}

.more-icon {
  height: 32px;
  width: 32px;
  &:hover {
    content: url("./assets/img/more-hover.svg");
  }
}


@media screen and (min-width: 800px) {
  .send-message-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}
